body {
    margin: 0;
    background-color: rgb(225, 219, 219);
}


.section-header {
    text-align: left;
    font-size: 30px;
    color: #0095ff;
    line-height: 2;
    padding: 30px;
}


header {
    position: relative;
    overflow: hidden;
}

header ul {
    list-style: none;
}
#background{
    position: absolute;

    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: url('3222.jpeg') no-repeat 50% 50%;
    background-size: cover;
}
#header-content {
    position: relative;
    padding: 10px;
    text-align: center;
    margin: 50px;

background: rgba(127, 113, 113, 0.24);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(8.4px);
-webkit-backdrop-filter: blur(8.4px);
border: 1px solid rgba(127, 113, 113, 0.5);

}
#header-content ul {
    list-style: none;
}
#header-content img {
    width: 60%;

}
a {
    text-decoration: none;
    color:black;
    transition: 1s;
    text-align: center;
}
a:hover {
    color:#0095ff
}
.skills span {
    border: 1px solid #0095ff;
    color: #0095ff;
    padding: 5px 10px;
    margin: 2px;
    border-radius: 8px;
    display:  inline-block;
    font-size: 0.8rem;
}




